# Project exclude paths
/android/.gradle/
/android/app/build/
/node_modules/
/node_modules/@react-native-community/cli-platform-android/.gradle/
/node_modules/@react-native-community/cli-platform-android/build/